---
title: Improv Masters
body_class: index
---

= partial('./layouts/header')

.jumbotron
  .container
    .row
      .col-md-8
        %h1 Members Area
        %h3#fridayHeading See you this Friday at ImprovMasters...
        %p 
          %table
            %tbody#signup

      .col-md-4
        .signup.block1
          %h3 Sign-up for a role!

          %form.form-horizontal{ method:'POST', action:'http://forms.brace.io/aj9009@gmail.com'}
            .form-group.form-group-sm
              %label.col-sm-2.control-label{for: "signupName"} Name
              .col-sm-10
                %input#signupName.form-control{name:'name', placeholder: "", type: "", required:'true'}/
            .form-group.form-group-sm
              %label.col-sm-2.control-label{for: "signupEmail"} Email
              .col-sm-10
                %input#signupEmail.form-control{name:'_replyto', placeholder: "example@gmail.com", type: "email", required:'true'}/
            .form-group.form-group-sm
              %label.col-sm-2.control-label{for:'signupRole'} Role
              .col-sm-10
                %select.form-control#signupRole{name:'requested_role', required:'true' }
                  %option{disabled: true, selected: true, value: "", style:"display: none;"} Select...
                  %option{value: "Grammarian"} Grammarian
                  %option{value: "Improvmaster"} Improvmaster
                  %option{value: "Speaker"} Speaker
                  %option{value: "Speech Evaluator"} Speech Evaluator
                  %option{value: "Timer"} Timer 
                  %option{value: "Toastmaster"} Toastmaster 
            .buttonHolder
              %button.btn.btn-primary{type:'submit'} Submit
            %span.help-block You will receive an email when you're confirmed.

%section.block1
  .container
    .row
      .col-xs-12
        %h1 Meeting Roles
        .row
          .col-md-9
            %ul.roles
              %li 
                %b Toastmaster.
                The Toastmaster is the meeting’s director and host. This role won't usually be assigned until the participant is thoroughly familiar with the club and its procedures. 
              %li 
                %b Improvmaster.
                The Improvmaster is the emcee during the improv part of the meeting. This role also requires familiarity with the club and its procedures. 
              %li 
                %b Speaker
                The center of every Toastmasters meeting. (Well, in addition to the improv games.)
              %li 
                %b Evaluator.
                Provides both verbal and written evaluations for speakers using the guide in the manual.
              %li 
                %b Grammarian.
                Introduces the word of the day and comments on language usage during the course of the meeting.  Furthermore, the grammarian notes any word or sound used as a crutch by anyone who speaks during the meeting. (Words may be inappropriate interjections, such as <i>and, well, but, so</i> and <i>you know.</i> Sounds may be <i>ah, um</i> or <i>er.</i>)
              %li 
                %b Timer.  
                Responsible for monitoring time for each meeting segment and each speaker. Also, the timer operates the timing signal, indicating to each speaker how long he or she has been talking.
              %li
                %b Table Topic Master.
                The Topicsmaster will state a question or topic briefly and then call on a respondent for an impromptu talk. Each respondent receives a different topic or question and participants are called on at random.

          .col-md-3
            %img{src:'http://t-shirtguru.com/product-images/turtle-power-t-shirt-bustedtees-2.jpg', alt:'Share Building in Culver City'}


%section.block2
  .container
    .row
      .col-xs-12
        %h1 Competent Communication
        .row
          .col-md-8
            = partial('./layouts/ccm')
          .col-md-3.umbrella
            %h2 The Toastmaster Umbrella
            %ul
              %li
                %span Toastmasters International
                %span 13,500 clubs / 275,000 members 
              %li
                %span Region 2
                %span 2,000 clubs / 13,000 members
              %li
                %span District 4
                %span 260 clubs / 5,000 members 
              %li
                %span Division D
                %span 35 clubs 
              %li
                %span Area 6
                %span 5 clubs
              %li
                %span ImprovMasters Club
                %span 47 members
              %li
                %span YOU


%section.block3
  .container
    .row
      .col-xs-12
        %h1 Advanced Improv Techniques
        .row
          .col-md-8
            %p Improv is an art. However, it is also a craft. A craft is something that is learned throgh practice, repetition, trial, error and hard work. Much like any other art, skill in improv is acquired over time. The more time spent improv-ing the greater the improvement (pun intended).  

            %p 
              Need to brush on the basics first?   
              %a{href:'./index.html#theimprov', alt:''}Click here.
              Below are a few advanced techniques taken from Dan Goldstein's 
              %a{href:'http://www.dangoldstein.com/howtoimprovise.html', alt:''}How To Improvise.
            %div.convo
              %b 1. Add history.  
              %p
                The swiftest way to add reality and depth to a scene is to have the characters call up specifics from their common history. A simple exchange such as:
                %i Are you trying to get us arrested?
                %i Like the time we ran naked through the Yale-Princeton lacrosse game?
              %p Though just a few words, it provides a great deal of information. The audience and actors now can infer that the characters are college boys, they are troublemakers, they are educated, they are in New England, they drink to excess, they have police records, they are old friends, and much more. With one sentence, the amount of information the improvisers can now draw on has grown greatly.
              %p Some improv teachers suggest staying in the present tense as often as possible. I disagree. I think, however, that you should avoid talking too much about the future. Things in the future might happen, they might shape 
            %div
              %b 2. Be very specific.
              %p If you're going to say "nice car!", why not make it "wow, a 1979 Volvo Station Wagon!" If we know the Volvo owner is a 21 year old woman, suddenly we can visualize her (well, maybe you can’t, but I can: she has dried blue and white oil paint on her fingers, wears an extra large men’s dress shirt as a smock, and has long, straight, chestnut-brown hair). A more vivid image opens up a rich, new world. Adjectives accelerate scene development.
            %div
              %b 3. Commence with characterizing actions.
              %p Characterizing actions are those which define a character's occupation or role, such as a teacher erasing a blackboard, a janitor cleaning up, or a child playing with toys, are good for starting scenes because they provide your fellow actors something to build on. They say a lot about what is going on and thus help the scene get to the point faster. Note that the scene need not (and often should not) be about drinking a beer or chopping lettuce just because that's what one of the characters is doing. Two people can start a scene engaged in an action together.  By putting status into this two-person action, a lot of information can be communicated very quickly.  For example, consider a scene which starts with one character hitting tennis balls, and the other chasing around after them.  The audience knows what the status is and where the characters are before the scene even starts.
            %div
              %b 4. Enter and exit with purpose.
              %p Entering, exiting and staying put should have a reason, be justified. This is the purpose of playing the game Entrances and Exits (go figure) in rehearsal.  Don't just say "OK, bye" and walk out of a scene. Give a reason. Unjustified exits tend to be a problem novices have.
            %div.convo
              %b 5. Questions should give more than they take
              %p Why ask a question on stage?  Are you expecting your fellow-actor  to have a ready answer?  What if she doesn't?  Doesn't that put her on the spot? Don't most questions slow the scene unnecessarily?  If it's a yes-no question, are you prepared to react to both yes and no answers? If no, then aren't you in trouble if the wrong answer comes back? If yes, then aren't you writing?

              %p Any question can be turned into a statement.  The nice thing about statements is that they provide information you and your fellow actor can immediately start building upon.  

              %p 
                Why go through:
                %i What time is it?
                %i Uh, 3:30?
                %i Are you ready?
                %i Yeah, are you ready?
                %i What are we doing?
                %i I don't know.  What's the capital of South Dakota?
                %i Uh, Fargo?

              %p 
                When you could have:
                %i It's 3:30
                %i We're right on schedule.
                %i Johnson should be handing the teller the note right now.
                %i It's 3:31.  Ski masks on.
                %i Think I have time to run to the bathroom?
                %i Why don't I ever get paired with Johnson?

              %p Questions which don't require answers are fine.  Questions which provide more information then they demand are fine, too, e.g. "Think I have time to run to the bathroom?" This question introduces information, raises the stakes, and doesn't require the fellow actor to come up with a response. Rhetorical questions are fine, e.g., "Why don't I ever get paired with Johnson?"

              %p 
                A drill to point out question-asking *in rehearsal only*, is to respond to each other's questions with "that's a good question ..." or adopt the Yiddish practice of answering with the exact same question:
                %i What do you want?  [bad question, contributes nothing to scene]
                %i What do I want? [actor 2 points out that actor 1 is putting him on the spot instead of contributing]
                %i Look, I'll get you the money tomorrow [hurrah! actor 1 gets the message]

= partial('./layouts/footer')

= javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"

= javascript_include_tag "displaySignUpSheetInfo"